<header class="site-header">
    <div class="wrapper">
        <a class="site-title" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img class="site-title-img" width="48" height="48" src="faceicon.ico" alt="Evan Horbinski">
            Evan
        </a>
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger">
            <label for="nav-trigger">
                <span class="menu-icon">
                    <svg viewBox="0 0 24 24" width="24px" height="24px">
                        <path fill="#ccc" d="M 4 0 h 16 v 1 h -16 z"/>
                        <path fill="#ccc" d="M 4 8 h 16 v 1 h -16 z"/>
                        <path fill="#ccc" d="M 4 16 h 16 v 1 h -16 z"/>
                    </svg>
                </span>
            </label>
            <div class="trigger">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" aria-label="About">About</a>
                <a class="nav-link" routerLink="/blog" routerLinkActive="active" aria-label="Blog">Blog</a>
                <a class="nav-link" routerLink="/projects" routerLinkActive="active" aria-label="Projects">Projects</a>
            </div>
        </nav>
    </div>
</header>