<main class="main-container">
    <div class="wrapper">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">About</h1>
            </header>
            <div class="post-content">
                <p>Hi, I am Evan, welcome to my site! I am an aspiring Full Stack Software Engineer and Freelance UX Designer currently living in Chattanooga, TN.</p>
                <h2 id="wdid">What do I do?</h2>
                <p>I help startups with creating a digital presence. I also help communities by creating meaningful websites that provide easy-to-use tools simplifiying their scheduling and data management (otherwise done through Excel).</p>
                <p>Being a recent graduate from <a href="https://utc.edu">UTC</a>, I continue to expand my technical skillset by researching and developing using some of the most relevant web and application technologies (Node.js, Express.js, Angular, and more).</p>
                <h2 id="hdidi">How do I do it?</h2>
                <p>I have several years building web applications.</p>
                <p>I brainstorm ideas with product owners, determining user stories. Sketch the ideas, determining user flows. Design or create wireframe if necessary and code it.</p>
                <p>I use <a href="https://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a> to implement solutions. I can program in <code>HTML</code>, <code>PHP</code>, <code>Typescript</code>, <code>Javascript</code>, <code>Python</code> (and more) languages.</p>
            </div>
        </article>
    </div>
</main>