<main class="main-container">
  <div class="wrapper">
    <span>
      <a routerLink="/blog"><< All Posts</a>
    </span>
    <article class="blog-post" *ngIf="post">
      <header class="post-header">
        <h1 class="post-title">{{ post.summary }}</h1>
        <p class="post-meta">{{ post.createdAt }}</p>
      </header>
      <div class="post-content">
        <hr>
        <div class="post-image" *ngIf="post.url">
          <img type="image" width="{{ post.imageWidth }}" width="{{ post.imageHeight }}" src="{{ post.url }}" alt="{{ post.imageTitle }}">
        </div>
        <p *ngFor="let sub of post.content.split('\\n')">{{ sub }}</p>
      </div>
    </article>
  </div>
</main>