.iframe-buttons {
    display: flex;
    justify-content: space-between;
}

.iframe-buttons > div p {
    padding: 20px;
    margin: 0px;
}

.iframe-buttons > button {
    background: #212121;
    color: #999;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: #999;
}

.iframe-buttons > button:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    .iframe-buttons > button[class="show"] {
        display: block;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.iframe-app {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
    border-color: #ccc;
    border-radius: 5px;
    border-width: 1px;
    background-color: transparent;
    overflow: auto;
}

.frame {
    height: 100%;
    min-height: 450px;
    width: 100%;
    min-width: 500px;
    margin: 0 auto;
    margin: 0 auto;
    overflow: none;
}