.iframe-buttons {
    display: flex;
    justify-content: space-between;
}

.iframe-buttons > div p {
    padding: 20px;
    margin: 0px;
}

.iframe-buttons > button {
    background: #212121;
    color: #999;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: #999;
}

.iframe-buttons > button:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    .iframe-buttons > button[class="show"] {
        display: block;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.iframe-app {
    height: 1216px; 
    width: 1318px;
    margin: 0 auto;
    margin: 0 auto;
    border-color: #ccc;
    border-radius: 5px;
    border-width: 1px;
}

.my-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 0;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.modal-backdrop.show {
    opacity: .5;
}

.modal-backdrop.fade {
    opacity: 0;
}

.fade.show {
    opacity: 1;
}