/* You can add global styles to this file, and also import other style files */

html, body { 
    height: auto; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font: 400 22px/1.5 Roboto, "Helvetica Neue", sans-serif;
    background-color: #2B2B2B;
    color: #ccc;
    -webkit-text-size-adjust: 100%;
}

main { 
    min-height: 100%;
    padding: 1rem;
}


a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #c2185c8a;
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px; 
}

@media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; 
    } 
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.spacer {
    flex: 1 1 auto;
}

.center {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #42424294;
}

::-webkit-scrollbar-thumb:hover {
    background: #c2185b; 
}