.post-list {
    list-style: none;
    padding: 0;
}

.post-list > li {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.post-meta {
    margin-right: 1rem;
}
.post-list > li > a {
    text-decoration: underline;
}